body {
    background-image: url('./background.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body, h1, h2, td, p, a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.icon {
    background-color: rgba(255, 255, 255, 0.7);
    width: 1000px;
    color: black;
    margin: 20px auto;
    padding : 15px;
}

@media only screen and (max-width:600px) {
    /*for Phone*/
    .pribadi{
        width: 80%;
    }
    .icon {
        width: 80%;
    }

}